#screen {
  background-color: black;
  cursor: pointer;
}

#start_btn,
#reset_screen_btn,
#reset_btn,
#rand_btn {
  text-align: center;
  margin: 8px;
}

#form_holder {
  margin: 8px;
}

#dev_id {
  vertical-align: baseline;
  margin: 8px;
  color: black;
  font-size: large;
}

.total_bodies {
  display: block;
  font-size: small;
}

.total_bodies span {
  font-weight: bold;
}

div {
  text-align: center;
  margin: 5px;
}

body {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px;
}

label {
  font-size: small;
  margin: 8px;
}

label strong {
  font-size: large;
}
